.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%
}

.info{
  display: block;
  text-align: center;
}

.mat-icon{
  font-size: 70px;
  margin-left: -35px;
}

li{
  list-style: none;
  margin-left: -35px;
}