<div class="mat-elevation-z8">

  <form [formGroup]="categoriaForm" novalidate>
    <mat-card class="productoform-card">
      <mat-card-header>
        <mat-card-title>Datos de la categoría</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">

            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre de la categoría" formControlName="nombre">
              <mat-error *ngIf="categoriaForm.controls['nombre'].hasError('required')">
                El nombre de la categoría es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="categoriaForm.invalid"
          (click)="save()">{{buttonAddUpdateCategory}}</button>
        <button mat-raised-button color="warn" (click)="reset()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>