.hidden {
  display: none;
}

.mat-header-cell {
  background: #673ab7;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
}


.mat-column-descripcion{
  flex: none;
  width: 300px;
}

.mat-table {
  width: 100%;
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.tabla {
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  width: 100%;
  margin-right: 10px;
}

.buscador {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
  

.filter-form-field {
  width: 100%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-color: rgb(160, 160, 160);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  min-width: 100px;
}

legend {
  color: rgb(124, 124, 124);
}


@media (max-width: 920px){

  .container {
    flex-wrap: nowrap;
  }
  .tabla {
    display: block;
    width: 100%;
  }

  .buscador {
    display: inline-block;
    width: 100%;
  }

}


@media (max-width: 700px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-cell:first-of-type{
    padding:0;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    min-height: 0;
  }
  

  
}
