.container{
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.login{

  width: 50%;
}

.mat-form-field{
  width:100%;

}
.acciones{

  text-align: center;
}

.acciones button{
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

