.hidden {
  display: none;
}

.full-width {
  width: 100%;
  margin: 0 auto;
  min-width: 100px;
}

.container {
  width: 100%;

  margin-bottom: 10px;
  padding: 10px 0;
}
.usuarioform-card {
  min-width: 120px;
  margin: 10px auto;
  width: 90%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  width: 100%;
  margin-right: 10px;
}

.mat-card{
  box-shadow: none;
  }


fieldset {
  min-width:auto;
  border-color: rgb(160, 160, 160);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

legend {
  color: rgb(124, 124, 124);
}

.mobile-label {
  display:none;
}

.acciones{
  padding: 5px;
  
}

.acciones button{
  margin-right: 5px;
  margin-bottom: 5px;
}


@media (max-width: 600px) {
  

  .mobile-label {
    display:block;
    width: 80px;
    text-align: left;
    font-weight: bold;
  }

  .mat-cell:first-of-type{
    padding:0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-cell:first-of-type{
    padding:0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-card{
    padding: 0;
  }

  .mat-card-header-text{
    margin: 0 !important;
  }

  .mat-card-action{
    padding: 10px
  }

  .mat-row {
    display: inherit;
    flex-direction: column;
    align-items: start;
    min-height: 0;
    padding: 8px 24px;
  }

  
  .row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .container {
    flex-wrap: nowrap;
  }
  .tabla {
    display: block;
    width: 100%;
  }

  .buscador {
    display: block;
    width: 100%;
  }
}
