.containergral{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  width:80%;

}

.cards{
  display: flex;
   flex-wrap: wrap;
   justify-content: left;
   align-items: stretch;
}

.card {
  flex: 0 12 calc(30% - 1em);
}

.mat-card{
  display: flex; 
  justify-content: start; 
  flex-direction: column; 
  flex-wrap: wrap;
  margin: 15px;

}
.mat-card-actions{
  margin: auto 0 0
}
.acciones{
  padding: 5px;
  
}

.mat-expansion-panel{
  box-shadow: none;

}

@media (max-width: 600px) {

  .containergral{
    display: block;
    width: 95%;
  }
  .container {
    padding: 5px;
    width: 100%;
    display: block;
  }

  .cards{
    display: block;
  }

  .card {
    display: block;
    margin: 5px;
  }

}