.container{
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.login{

  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  width: 100%;
  margin-right: 10px;
}

.mat-card{
  box-shadow: none;
  width:100%
}

.mat-form-field{
  width:100%;

}
.acciones{

  text-align: center;
}

.acciones button{
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  

  .mat-card{
    padding: 0;
  }

  .mat-card-header-text{
    margin: 0 !important;
  }

  .mat-card-action{
    padding: 10px
  }

 
  
  .row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .container { 
    flex-wrap: nowrap;
  }

}

